<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link type="text/css" rel="stylesheet" href="css/common.css"/>
        <link type="text/css" rel="stylesheet" href="css/style.css"/>
        <script type="text/javascript" src="js/jquery-1.4.4.min.js"></script>
        <script type="text/javascript" src="../controllers/popup.js"></script>
    </head>
    <body>
        <div class="container">
            <!-- header -->
            <div class="header">
                <div class="logo f"><img src="images/guide-logo.png"/></div>
                <span class="big-titles f"><strong>دليل  </strong></span>
                <span class="small-titles f"><strong>القنوات </strong> </span>


                <!-- menu -->
                <div class="menu f-r">
                    <ul>
                        <li class="f"><a href="#">دليل القنوات</a></li>
                        <li class="f active"><a href="#">أهم البرامج</a></li>
                        <li class="f"><a href="#">التنبية</a></li>
                    </ul>
                </div>

                <div class="nl"></div>



            </div>






            <!-- videos Thumbs -->
            <div class="films-container">
                <!-- channels List-->


                <!--

                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><a href="#"><img src="channels/mbc3.jpg" alt="mbc3"></a></td>
                      <td><a href="#"><img src="channels/mbc3.jpg" alt="mbc3"></a></td>
                      <td><a href="#"><img src="channels/mbc3.jpg" alt="mbc3"></a></td>
                      <td><a href="#"><img src="channels/mbc3.jpg" alt="mbc3"></a></td>
                    </tr>

                    <tr>
                      <td><a href="#"><img src="channels/mbc3.jpg" alt="mbc3"></a></td>
                      <td><a href="#"><img src="channels/mbc3.jpg" alt="mbc3"></a></td>
                      <td><a href="#"><img src="channels/mbc3.jpg" alt="mbc3"></a></td>
                      <td><a href="#"><img src="channels/mbc3.jpg" alt="mbc3"></a></td>
                    </tr>

               </table>

                -->



                <div>
                    <a href="#" class="f"><img src="images/film_1.png" width="76" height="45"></a>
                    <div class="f film-details">
                        <div class="f-r">من 18:30  الى  20:30</div>
                        <div class="film-name">
                            <strong>
                                <a href="" class="f">
                                    فيلم الوعد
                                </a>
                            </strong>
                            <div class="f channels-name">
                                قناة ميلودى افلام
                            </div>
                        </div>
                    </div>
                    <div class="f-r alert-icon"><img src="images/close.png" width="22" height="22"></div>
                    <div class="nl"></div>
                </div>
                <div class="separator"></div>

                <div>

                    <a href="#" class="f"><img src="images/film_1.png" width="76" height="45"></a>

                    <div class="f film-details">
                        <div class="f-r">من 18:30  الى  20:30</div>
                        <div class="film-name">

                            <strong>
                                <a href="" class="f">
                                    فيلم الوعد
                                </a>
                            </strong>

                            <div class="f channels-name">
                                قناة ميلودى افلام
                            </div>


                        </div>


                    </div>
                    <div class="f-r alert-icon"><img src="images/close.png" width="22" height="22"></div>
                    <div class="nl"></div>

                </div>


                <div class="separator"></div>

                <div>

                    <a href="#" class="f"><img src="images/film_1.png" width="76" height="45"></a>

                    <div class="f film-details">
                        <div class="f-r">من 18:30  الى  20:30</div>
                        <div class="film-name">

                            <strong>
                                <a href="" class="f">
                                    فيلم الوعد
                                </a>
                            </strong>

                            <div class="f channels-name">
                                قناة ميلودى افلام
                            </div>


                        </div>


                    </div>
                    <div class="f-r alert-icon"><img src="images/close.png" width="22" height="22"></div>
                    <div class="nl"></div>

                </div>


                <div class="separator"></div>

                <div>

                    <a href="#" class="f"><img src="images/film_1.png" width="76" height="45"></a>

                    <div class="f film-details">
                        <div class="f-r">من 18:30  الى  20:30</div>
                        <div class="film-name">

                            <strong>
                                <a href="" class="f">
                                    فيلم الوعد
                                </a>
                            </strong>

                            <div class="f channels-name">
                                قناة ميلودى افلام
                            </div>


                        </div>


                    </div>
                    <div class="f-r alert-icon"><img src="images/close.png" width="22" height="22"></div>
                    <div class="nl"></div>

                </div>


                <div class="separator"></div>
                <div>

                    <a href="#" class="f"><img src="images/film_1.png" width="76" height="45"></a>

                    <div class="f film-details">
                        <div class="f-r">من 18:30  الى  20:30</div>
                        <div class="film-name">

                            <strong>
                                <a href="" class="f">
                                    فيلم الوعد
                                </a>
                            </strong>

                            <div class="f channels-name">
                                قناة ميلودى افلام
                            </div>


                        </div>


                    </div>
                    <div class="f-r alert-icon"><img src="images/close.png" width="22" height="22"></div>
                    <div class="nl"></div>

                </div>


                <div class="separator"></div>











            </div>
            <div class="tools">
                <strong><a href="#" class="settings f">أعدادات</a></strong>

                <strong><a href="#" class="back f-r">عودة</a></strong>
                <div class="nl"></div>
            </div>
        </div>
    </body>
</html>
